[user]
    name = Adam Mansfield
    email = me@adammansfield.com
[core]
    autocrlf = input
    editor = vim
    excludesfile = ~/.gitglobalignore
    filemode = false
[color]
    ui = true
[help]
	autocorrect = 2
[push]
	default = current
