*

# user
!.inputrc
!.profile

# bash
!.bashrc
!.bash_aliases
!.bash_colors
!.bash_functions
!.bash_profile

# git
!.gitconfig
!.gitignore
!.gitglobalignore

# rxvt
!.Xdefaults

# tmux
!.tmux.conf

# vim
!.vimrc

